.sprint_bg_color{
    background-color: #FEE100;
}
/** Override row alternate color */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    /* background-color: rgba(247, 166, 74, 0.5); */
    background-color: #c7c8ca;
}

/** Added style for dashboard*/
.sidebar-panel {
    width: 320px;
    background: #ebebed;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    min-height: 90%;
    /* height: auto !important; */
}

td {
        padding: 5px;
        width: 2px;
        white-space: nowrap;
}

th{
    vertical-align: middle !important;
    text-align: center;
}

/* Override Select2 multiple selected */
.select2-container--default 
.select2-selection--multiple 
.select2-selection__choice{
    color:#333333;
}

/* Fix sizing */
.fix-100{
    width: 100px;
    height: 100px;
}

.fix-200{
    width: 200px;
    height: 200px;
}

.fix-300{
    width: 300px;
    height: 300px;
}

/* Customize Spacing */
.mt-10p{
    margin-top: 10%;
}
.mb-10p{
    margin-bottom: 10%;
}
.ml-10p{
    margin-left: 10%;
}
.mr-10p{
    margin-right: 10%;
}

.mt-30p{
    margin-top: 30%;
}
.mb-30p{
    margin-bottom: 30%;
}
.ml-30p{
    margin-left: 30%;
}
.mr-30p{
    margin-right: 30%;
}

.mt-40p{
    margin-top: 40%;
}
.mb-40p{
    margin-bottom: 40%;
}
.ml-40p{
    margin-left: 40%;
}
.mr-40p{
    margin-right: 40%;
}

.m-10{
    margin: 10px;
}

.m-20{
    margin: 20px;
}

.m-30{
    margin: 30px;
}

.m-40{
    margin: 40px;
}

.m-50{
    margin: 50px
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.add-input-text{
    cursor: pointer;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

.v-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-header{
    padding: 33px 5px !important;
}

.overlay{
    opacity: 0.8;
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-75{
    width: 75%;
}

.w-100{
    width: 100%;
}

.p-l-0{
    padding-left: 0 !important;
}

.p-2{
    padding: 2px !important;
}

.p-15{
    padding: 15px !important;
}

.h-10{
    height: 10%;
}

.h-20{
    height: 20%;
}

.h-30{
    height: 30%;
}

.h-40{
    height: 40%;
}

.h-50{
    height: 50%;
}

.h-60{
    height: 60%;
}

.h-70{
    height: 70%;
}

.h-80{
    height: 80%;
}

.h-90{
    height: 90%;
}

.h-100{
    height: 100%;
}

.h-100-px{
    height: 100px;
}