<div class="row white-bg p-lg" ng-controller="CloningCtrl as ctrl">
    <h2>Cloning User's server roles and privileges</h2>

    <div class="row row-eq-height m">
        <div class="col-md-5 v-align">
            <div class="widget yellow-bg" id="userOrigin">
                <div class="row">
                    <div class="col-md-9">
                        <h3>User to clone:</h3>
                    </div>
                </div>
                <div class="input-group has-warning widget-text-box m-sm">
                    <input type="text" class="form-control" style="color: #333333" placeholder="ex. mc598139 or AD\mc598139"
                        ng-model="ctrl.copyFromUser"
                        auto-complete="ctrl.autoCompleteOptionsFromUser" 
                        ng-keydown="resetSelectionOrg()"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-warning">
                            <i class="fa fa-search fa-lg" ng-hide="ctrl.loadingFrom"></i>
                            <span class="loading dots" ng-if="ctrl.loadingFrom"></span>

                        </button>

                    </span>
                    

                </div>
            </div>
        </div>
        <div class="col-md-1 text-center v-align">
            <i class="fa fa-angle-double-right fa-5x"></i>
        </div>
        <div class="col-md-5" id="userMirror">
            <div class="widget navy-bg">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Mirror User(s):</h3>
                    </div>
                    <div class="col-md-5 text-right" ng-click="addInputInMirror()">
                        <h4 class="add-input-text">ADD <i class="fa fa-plus-square-o fa-lg"></i></h4>
                    </div>
                </div>
                <div class="widget-text-box">
                    <div class="input-group has-success m-xs" ng-repeat="inputInMirror in inputsInMirror">
                            <input type="text" class="form-control" style="color: #333333" placeholder="ex. mc598139 or AD\mc598139"
                                ng-model="ctrl.copyToUser"
                                auto-complete="ctrl.autoCompleteOptionsToUser" 
                                ng-disabled="originalUser == null"
                                ng-keydown="resetSelectionMirror()"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-search fa-lg" ng-hide="ctrl.loadingTo"></i>
                                    <span class="loading dots" ng-if="ctrl.loadingTo"></span>

                                </button>

                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="checkbox text-center">
            <label>
                <input type="checkbox">Customized Cloning
            </label>
        </div>
    </div>
    <div class="row text-center m-b-lg">
        <button type="button" class="btn btn-warning" id="btnCloning" 
            ng-disabled="mirrorUser == null || originalUser == null"
            ng-click="fullClone()">
                Start Cloning
        </button>
    </div>
</div>