<div class="row white-bg p-lg" ng-controller="CloningCtrl1 as ctrl" ng-init="onLoad()">
    <h2>Cloning User's server roles and privileges</h2>

    <div class="row row-eq-height m">
        <div class="col-md-5 v-align">
            <div class="widget yellow-bg" id="userOrigin">
                <div class="row">
                    <div class="col-md-9">
                        <h3>User to clone:</h3>
                    </div>
                </div>
                <div class="has-warning widget-text-box m-sm">
                    <select id="orgUserSelection"  name="orgUserSelection" style="color: #333333;"
                        class="js-example-basic-single form-control"
                        ng-model="ctrl.copyFromUser"
                        ng-options="serverUser.name for serverUser in serverUsers"
                        >
                            <option></option>
                            <!-- <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option> -->
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-1 text-center v-align">
            <i class="fa fa-angle-double-right fa-5x"></i>
        </div>
        <div class="col-md-5" id="userMirror">
            <div class="widget navy-bg">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Mirror User(s):</h3>
                    </div>
                </div>
                <div class="widget-text-box m-sm">
                    <div class="has-success m-xs">
                        <select id="newUsers" style="color: #333333;" name="newUsers[]" multiple="multiple"
                            class="js-example-basic-multiple form-control" 
                            ng-model="ctrl.copyToUser" ng-disabled = "ctrl.copyFromUser.name == null" 
                            ng-options="serverUser.name for serverUser in serverUsers | excludeFrom: {name: ctrl.copyFromUser.name} track by serverUser.name"
                            >
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                </div>
                <p class="m-sm">** May select multiple users. If user is not found, It will be created.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="checkbox text-center">
            <label>
                <input type="checkbox">Customized Cloning
            </label>
        </div>
    </div>
    <div class="row text-center m-b-lg">
        <button type="button" class="btn btn-warning" id="btnCloning" 
            ng-disabled="ctrl.copyFromUser.name == null || ctrl.copyToUser == null"
            ng-click="fullClone(ctrl.copyFromUser.name, ctrl.copyToUser)">
                Start Cloning
        </button>
    </div>
</div>
