<div class="text-center animated fadeInDown m-t-lg">
    <h1><i class="fas fa-hammer fa-5x" aria-hidden="true"></i></h1>
    <h3 class="font-bold" style="font-size: 70px">Page Under</h3>
    <h3 class="font-bold text-warning" style="font-size: 70px">Construction</h3>

    <div class="">
        Sorry, Provisioning feature is not yet Available
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-6">
        <i class="fas fa-wrench fa-5x" aria-hidden="true"></i>
    </div>
    <div class="col-lg-6">
        <h1>Page Under Construction</h1>
    </div>
</div> -->