<div class="middle-box text-center animated fadeInDown" ng-hide="$root.session.getServerDetails()">
    <h1><i class="fa fa-chain-broken" aria-hidden="true"></i></h1>
    <h3 class="font-bold">Server Disconnected</h3>

    <div class="error-desc">
        Sorry, but all features are disabled until you connect to server
        <a href="../modals/modals.html/#serverConnectModal" data-toggle="modal" data-backdrop="static">
            <h4 class="text-warning">Connect to Server</h4>
        </a>
    </div>
</div>

<div ng-show="$root.session.getServerDetails()">
    <div class="row m">
        <a class="col-lg-4" ui-sref=".newUser">
            <div class="widget style1 yellow-bg h-100-px">
                <div class="row row-eq-height">
                    <div class="col-lg-4">
                        <i class="fa fa-user-plus fa-5x"></i>
                    </div>
                    <div class="col-lg-8 text-right v-align">
                        <h2 class="font-bold">Create User</h2>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-lg-4" ui-sref=".cloning">
            <div class="widget style1 yellow-bg h-100-px">
                <div class="row row-eq-height">
                    <div class="col-lg-4">
                        <i class="fas fa-user-friends fa-5x"></i>
                    </div>
                    <div class="col-lg-8 text-right v-align">
                        <h2 class="font-bold">Cloning Tool</h2>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-lg-4" ui-sref=".provisioning">
            <div class="widget style1 yellow-bg h-100-px">
                <div class="row row-eq-height">
                    <div class="col-lg-4">
                        <i class="fas fa-user-cog fa-5x"></i>
                    </div>
                    <div class="col-lg-8 text-right v-align">
                        <h2 class="font-bold">User Provisioning</h2>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>