<div ng-controller="ModalCtrl" ng-init="onLoad()">
    <!-- Server details Modal -->
    <div class="modal inmodal" id="serverConnectModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="overlay v-align" ng-show="modalLoader">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </div>
                <button type="button" class="btn-link m-xs pull-right" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <div class="modal-header">
                    <h3>Server Connection</h3>
                    <h6>Status: {{ $root.session.getServerStatus() }} 
                        <span class="fa {{ $root.session.getServerStatus() === 'Connected' ? 'fa-link' : 'fa-unlink' }}"></span>
                    </h6>
                </div>
                <div class="modal-body">
                    <form name="serverConnectionForm" novalidate>
                        <div class="form-group" ng-class="errorMessage == '' ? '' : 'has-error'">
                            <label class="control-label">Server</label>
                            <input type="text" id="serverNameFromUser" ng-model="serverNameFromUser" name="serverNameFromUser" 
                                ng-blur="getInstances()" ng-change="errorMessage = ''"
                                ng-disabled="$root.session.getServerStatus() === 'Connected'"
                                class="form-control" placeholder="ex. DVMXC117.dev.sprint.com" value="" required>
                            <span class="help-block" ng-bind="errorMessage"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Instances</label>
                                    <select class="form-control"
                                        id="ins" 
                                        ng-model="ins" 
                                        ng-options="ins as ins.name for ins in serverDetails.instances"
                                        ng-disabled="$root.session.getServerStatus() === 'Connected'">
                                        <option value=''>--Select Instance--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 p-l-0">
                                <div class="form-group">
                                    <label class="control-label">Port:</label>
                                    <input type="text" id="portNumber" ng-model="ins.port" name="portNumber"
                                        ng-disabled="$root.session.getServerStatus() === 'Connected'"
                                        class="form-control p-2 text-center"  value="" required>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <button type="button" class="btn btn-primary btn-xs pull-right">Test Connection</button> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-white">Cancel</button>
                    <button type="button" class="btn btn-warning" id="serverConnectBtn"
                        ng-disabled="ins.port == null"
                        ng-click = "modalSubmit()">
                        {{ $root.session.getServerStatus() === 'Connected' ? 'Disconnect' : 'Connect' }}
                        <span class="loading dots" ng-if="connectingToServer"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

<!-- Password Modal -->
    <div class="modal inmodal" id="getPasswordFromModal" tabindex="-2" role="dialog">
        <div class="modal-dialog modal-sm w-25">
            <div class="modal-content mt-30p">
                <div class="modal-header p-15">
                    <h3>Enter Server Password</h3>
                </div>
                <div class="modal-body">
                    <form name="serverPasswordForm" novalidate>
                        <div class="form-group" ng-class="passwordErrorMessage == '' ? '' : 'has-error'">
                            <input type="password" id="serverPasswordFromModal" ng-model="serverPasswordFromModal" name="serverPasswordFromModal" 
                                ng-change="passwordErrorMessage = ''"
                                class="form-control" value="">
                            <span class="help-block" ng-bind="passwordErrorMessage"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ng-click="setPasswordFromModal(serverPasswordFromModal)">Enter</button>
                </div>
            </div>
    </div>
</div>