<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="NavCtrl"  ng-init="onload()">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    <span>
                        <img alt="image" class="img-circle" src="../../../assets/img/profile_small.jpg" />
                    </span>
                    <span class="clear"> 
                        <span class="block m-t-xs"> 
                            <strong class="font-bold">{{$root.session.getUser()}}</strong>
                        </span>
                        <span>
                        <a href="../modals/modals.html/#serverConnectModal" data-toggle="modal" data-backdrop="static">
                            <span class="text-warning">
                                {{ $root.session.getServerDetails() ?  $root.session.getServerDetails() : 'Disconnected to Server' }} 
                                <i class="m-l-xs fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                            </span>
                        </a></span>
                    </span>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="mm-active">
                <a ui-sref=".mainComponent" aria-expanded="true"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span></a>
           </li>
            <li>
                <a id="userMgmt" data-target="#" data-toggle="" data-parent="#side-menu" href="javascript:;" 
                    aria-expanded="false">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">User Management</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" aria-expanded="false" ng-class="">
                    <li ui-sref-active="active">
                        <a ui-sref=".newUser">New User</a></li>
                    <li ui-sref-active="active">
                        <a ui-sref=".cloning">Cloning Tool</a></li>
                    <li ui-sref-active="active">
                        <a ui-sref=".provisioning">User Provisioning</a></li>
                </ul>
            </li>
            <li>
                <a id="monitoring" data-target="#" data-toggle="" data-parent="#side-menu" href="javascript:;" aria-expanded="false">
                    <i class="fa fa-desktop"></i>
                    <span class="nav-label">Monitoring</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" aria-expanded="false" ng-class="">
                    <li ui-sref-active="active">
                        <a ui-sref=".databaseMonitoring">Database Monitoring</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<script>
        $(function () {
            $('#side-menu').metisMenu();    
        });
</script>